In [26]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities

import numpy as np
import pandas as pd
import re
import requests
import json
from bs4 import BeautifulSoup
import time

# Instagram Scraper

In [20]:
path = '/Users/kimia/Desktop/' #Capstone/EMPORIOSIRENUSE_20173012/zeusndione/followers data
exDF = pd.read_csv(path+"dodobaror_followers_posts.csv")

In [24]:
usernames = exDF.username.unique()

In [66]:
usernames[0:10]

array(['pasternak_workshop_jewelry', 'kubra_yasdag', '_amycaroline_',
       'thrljbyh', 'anna_tlv', 'maya_biton1802', 'contor_shade',
       'or_shmul', 'fathy_abo_dahis', 'iamkurdapya'], dtype=object)

In [ ]:
usernames
#usernames[1]
f = usernames[27:55]
f

In [83]:
follower_count = []
users = []
for i, v in enumerate(f):
    username = f[i]
    print(i)
    response = requests.get('https://www.instagram.com/' + str(username))
    page = response.content
    soup = BeautifulSoup(page, 'html.parser')
    number_followers = re.search("(\d+)\sFollowers", str(soup)).group(1) 
    # ^ A little hack-like but gets number followers
    follower_count.append(number_followers)
    users.append(username)
    time.sleep(20)

0
1
2

AttributeError: 'NoneType' object has no attribute 'group'

In [71]:
firstbatch = pd.DataFrame({'username':f, 'followers': follower_count})
firstbatch

In [78]:
secondbatch = pd.DataFrame({'username':['baretrogi', '_sofiadangelo_', 'kingkaitlyn05', 'patriciaortiz__design'], 'followers': follower_count})

In [80]:
thirdbatch = pd.DataFrame({'username':users, 'followers': follower_count})

In [85]:
fourthbatch = pd.DataFrame({'username':users, 'followers': follower_count})

In [86]:
frames = [firstbatch, secondbatch, thirdbatch, fourthbatch]
result = pd.concat(frames)
#re.search("(\d+)\sFollowers", str(soup)).group(1)
result

  followers                username
0       188       abhishekraghav015
1       047               misstribu
2       464             moranmarima
3       862            elizabethvdg
4       457  accessories_phone_sale
0       664               baretrogi
1       690          _sofiadangelo_
2        85           kingkaitlyn05
3       465   patriciaortiz__design
0       664               baretrogi
1       690          _sofiadangelo_
2        85           kingkaitlyn05
3       465   patriciaortiz__design
0       206        rotembentora2327
1       199           yaelshachar12

In [96]:
df.followers = pd.to_numeric(df.followers)

In [87]:
df = result.merge(exDF.drop_duplicates('username'),how='left',on='username')

In [102]:
df.head()

,followers,username,id_post,video_count,url_img,link_post,owner,caption,comment_count,taken_at_timestamp,taken_at_time,shortcode,is_video,likes_count
0,188,abhishekraghav015,1637736956104215547,0,https://instagram.fprg2-1.fna.fbcdn.net/t51.28...,https://www.instagram.com/p/Ba6aRWgHwv7,3106737762,#like4like#followforfollow#justinbieber#selena...,9,1509453480,2017-10-31 12:38:00,Ba6aRWgHwv7,False,211
1,47,misstribu,1643430709473145791,0,https://instagram.fprg2-1.fna.fbcdn.net/t51.28...,https://www.instagram.com/p/BbOo4XjHXO_,595372894,#regram @nathalie_dmitrovic #newshop #marseill...,2,1510132229,2017-11-08 09:10:29,BbOo4XjHXO_,False,55
2,464,moranmarima,1644371575393638121,0,https://instagram.fprg2-1.fna.fbcdn.net/t51.28...,https://www.instagram.com/p/BbR-zxOFlbp,255202154,@anatfriedman FW_ 17/18\nPH | @liorandhadas \n...,0,1510244388,2017-11-09 16:19:48,BbR-zxOFlbp,False,24
3,862,elizabethvdg,1642287665808460011,0,https://instagram.fprg2-1.fna.fbcdn.net/t51.28...,https://www.instagram.com/p/BbKk-5LhMjr,1495458765,Thank you @thezoereport #nothinglikehighshine ...,41,1509995967,2017-11-06 19:19:27,BbKk-5LhMjr,False,442
4,457,accessories_phone_sale,1641509454729825470,107,https://instagram.fprg2-1.fna.fbcdn.net/t51.28...,https://www.instagram.com/p/BbH0Cboncy-,6046227131,עוד לקוחה מרוצה ✔️ @shirmuharer,1,1509903225,2017-11-05 17:33:45,BbH0Cboncy-,True,44

## analysis

In [104]:
df[['likes_count','followers']] = df[['likes_count','followers']].apply(pd.to_numeric)

df['likes_score'] = (df['likes_count'])/(df['followers'])

In [106]:
def zscore(x,mu,std):
    zscore = (x-mu)/std
    return(zscore)

In [107]:
df['zscore'] = zscore(df['likes_score'], df.likes_score.std(), df.likes_score.mean())

In [108]:
df.head()

,followers,username,id_post,video_count,url_img,link_post,owner,caption,comment_count,taken_at_timestamp,taken_at_time,shortcode,is_video,likes_count,likes_score,zscore
0,188,abhishekraghav015,1637736956104215547,0,https://instagram.fprg2-1.fna.fbcdn.net/t51.28...,https://www.instagram.com/p/Ba6aRWgHwv7,3106737762,#like4like#followforfollow#justinbieber#selena...,9,1509453480,2017-10-31 12:38:00,Ba6aRWgHwv7,False,211,1.122340,2.506141
1,47,misstribu,1643430709473145791,0,https://instagram.fprg2-1.fna.fbcdn.net/t51.28...,https://www.instagram.com/p/BbOo4XjHXO_,595372894,#regram @nathalie_dmitrovic #newshop #marseill...,2,1510132229,2017-11-08 09:10:29,BbOo4XjHXO_,False,55,1.170213,2.663942
2,464,moranmarima,1644371575393638121,0,https://instagram.fprg2-1.fna.fbcdn.net/t51.28...,https://www.instagram.com/p/BbR-zxOFlbp,255202154,@anatfriedman FW_ 17/18\nPH | @liorandhadas \n...,0,1510244388,2017-11-09 16:19:48,BbR-zxOFlbp,False,24,0.051724,-1.022920
3,862,elizabethvdg,1642287665808460011,0,https://instagram.fprg2-1.fna.fbcdn.net/t51.28...,https://www.instagram.com/p/BbKk-5LhMjr,1495458765,Thank you @thezoereport #nothinglikehighshine ...,41,1509995967,2017-11-06 19:19:27,BbKk-5LhMjr,False,442,0.512761,0.496791
4,457,accessories_phone_sale,1641509454729825470,107,https://instagram.fprg2-1.fna.fbcdn.net/t51.28...,https://www.instagram.com/p/BbH0Cboncy-,6046227131,עוד לקוחה מרוצה ✔️ @shirmuharer,1,1509903225,2017-11-05 17:33:45,BbH0Cboncy-,True,44,0.096280,-0.876051

In [113]:
## fake KL score for testing

from random import randint


df['KLscore'] = 0
for i in enumerate(df['KLscore']):
    df['KLscore'][i] = randint(0, 9)
#print(randint(0, 9))

/anaconda/envs/python3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda/envs/python3/lib/python3.6/site-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [122]:
df.head()

,followers,username,id_post,video_count,url_img,link_post,owner,caption,comment_count,taken_at_timestamp,taken_at_time,shortcode,is_video,likes_count,likes_score,zscore,KLscore,followers_score
0,188,abhishekraghav015,1637736956104215547,0,https://instagram.fprg2-1.fna.fbcdn.net/t51.28...,https://www.instagram.com/p/Ba6aRWgHwv7,3106737762,#like4like#followforfollow#justinbieber#selena...,9,1509453480,2017-10-31 12:38:00,Ba6aRWgHwv7,False,211,1.122340,2.506141,5,3.007369
1,47,misstribu,1643430709473145791,0,https://instagram.fprg2-1.fna.fbcdn.net/t51.28...,https://www.instagram.com/p/BbOo4XjHXO_,595372894,#regram @nathalie_dmitrovic #newshop #marseill...,2,1510132229,2017-11-08 09:10:29,BbOo4XjHXO_,False,55,1.170213,2.663942,9,5.754115
2,464,moranmarima,1644371575393638121,0,https://instagram.fprg2-1.fna.fbcdn.net/t51.28...,https://www.instagram.com/p/BbR-zxOFlbp,255202154,@anatfriedman FW_ 17/18\nPH | @liorandhadas \n...,0,1510244388,2017-11-09 16:19:48,BbR-zxOFlbp,False,24,0.051724,-1.022920,7,-1.718506
3,862,elizabethvdg,1642287665808460011,0,https://instagram.fprg2-1.fna.fbcdn.net/t51.28...,https://www.instagram.com/p/BbKk-5LhMjr,1495458765,Thank you @thezoereport #nothinglikehighshine ...,41,1509995967,2017-11-06 19:19:27,BbKk-5LhMjr,False,442,0.512761,0.496791,2,0.238460
4,457,accessories_phone_sale,1641509454729825470,107,https://instagram.fprg2-1.fna.fbcdn.net/t51.28...,https://www.instagram.com/p/BbH0Cboncy-,6046227131,עוד לקוחה מרוצה ✔️ @shirmuharer,1,1509903225,2017-11-05 17:33:45,BbH0Cboncy-,True,44,0.096280,-0.876051,0,-0.000000

In [128]:
df['final_followers_score'] = .4*(df['zscore']) * (.6*(df['KLscore']) )

## Here we have a linear combination

In [131]:
col = ['KLscore','final_followers_score', 'zscore']
sorted1 = df[col].sort_values(['final_followers_score'],ascending=False)
sorted1

    KLscore  final_followers_score    zscore
1         9               5.754115  2.663942
0         5               3.007369  2.506141
3         2               0.238460  0.496791
4         0              -0.000000 -0.876051
13        0              -0.000000 -0.985400
14        5              -0.199720 -0.166433
6         3              -0.302045 -0.419506
5         2              -0.329789 -0.687060
7         4              -0.698937 -0.728059
10        7              -0.704771 -0.419506
11        5              -0.873671 -0.728059
8         4              -0.887082 -0.924044
12        4              -0.887082 -0.924044
9         9              -1.484050 -0.687060
2         7              -1.718506 -1.022920

# score = z* KL^alpha

In [132]:
alpha = 2
df['final_followers_score'] = (df['zscore']) * ((df['KLscore']) * alpha)
col = ['KLscore','final_followers_score', 'zscore']
sorted1 = df[col].sort_values(['final_followers_score'],ascending=False)
sorted1

    KLscore  final_followers_score    zscore
1         9              47.950962  2.663942
0         5              25.061412  2.506141
3         2               1.987164  0.496791
4         0              -0.000000 -0.876051
13        0              -0.000000 -0.985400
14        5              -1.664332 -0.166433
6         3              -2.517039 -0.419506
5         2              -2.748241 -0.687060
7         4              -5.824475 -0.728059
10        7              -5.873090 -0.419506
11        5              -7.280594 -0.728059
8         4              -7.392350 -0.924044
12        4              -7.392350 -0.924044
9         9             -12.367083 -0.687060
2         7             -14.320883 -1.022920

# score = ln(z) + alpha*ln(k)

#### this has problems. Need to take abs value and some go to -inf

In [135]:
alpha = 2
df['final_followers_score'] = np.log(np.abs(df['zscore'])) + (alpha* np.log((df['KLscore']) ))

col = ['KLscore','final_followers_score', 'zscore']
sorted1 = df[col].sort_values(['final_followers_score'],ascending=False)
sorted1

/anaconda/envs/python3/lib/python3.6/site-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log

    KLscore  final_followers_score    zscore
1         9               5.374256  2.663942
0         5               4.137620  2.506141
9         9               4.019116 -0.687060
2         7               3.914482 -1.022920
10        7               3.023144 -0.419506
11        5               2.901503 -0.728059
8         4               2.693593 -0.924044
12        4               2.693593 -0.924044
7         4               2.455216 -0.728059
14        5               1.425715 -0.166433
6         3               1.328548 -0.419506
5         2               1.010961 -0.687060
3         2               0.686708  0.496791
4         0                   -inf -0.876051
13        0                   -inf -0.985400