In [209]:
def zscore(x,mu,std):
    zscore = (x-mu)/std
    return(zscore)

def metrics(df): 
    df[['likes','followers']] = df[['likes','followers']].apply(pd.to_numeric)
  

    df['likes_score'] = (df['likes'])/(df['followers'])
    
    df['comments_score'] = (df['comments'])/(df['followers'])
    
    df['zscore_likes'] = zscore(df['likes_score'], df.likes_score.std(), df.likes_score.mean())
    
    df['zscore_comments'] = zscore(df['comments_score'], df.comments_score.std(), df.comments_score.mean())
    
    #df['final_score'] = df['zscore_likes'] + df['zscore_comments']
    df['numerical_score'] = df['likes_score'] #+ df['comments_score']
    
    
    
    ###### need to edit this
    df['final_score'] = (df['numerical_score'])

In [210]:
import pandas as pd
import numpy as np
from functools import reduce
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import numpy as np
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.feature_extraction import stop_words

path = '/Users/kimia/Desktop/Capstone/hotel/Rec_system/'
df = pd.read_csv(path+'DF_all_vectorized_w_metadata.csv')
print(df.shape)
# Clean the Data
df['followers'] = df['followers'].apply(lambda x: x.replace(",", ""))
df['followers'] = df['followers'].apply(lambda x: x.replace('k',"000").replace(".","").replace("m","000000").replace(",",""))
df['followers'] = df['followers'].apply(lambda x: pd.to_numeric(x))
print(df.shape)
#print(df.isnull().sum(axis=0))
#df = df.dropna()
del df['video_url']
print(df.shape)

metrics(df)

(248, 35)
(248, 35)
(248, 34)

In [265]:
line=hashtags[0]
' '.join(line)

'#getlost #instatravel #me #exploring #travelmemories #lifeofexploring #travelingram #girls #travelstories #passionpassport #travelgo #wanderlust #mytravelgram #lifeintravel #travelinspired #travelblogger #beautifuldestination #travelbloggerlife #travelstyle #shoot #travellingthroughtheworld #igtravel #Ig_Italy, #igersitalia #igercroazia'

# hashtags said by the community

In [312]:
## get hashtags
hashtags = []
for i,v in enumerate(df.caption):
        v = str(v)
        #tokenizedTweet = list(re.findall(r'(?i)\#\w+', str))
        
        hashtag = []
        for t in v.split():
            if '#' in t:
                hashtag = hashtag + ['#' + x for x in t.split('#')[1:]]
        #hashtag  =[ t for t in v.split() if '#' in t ]
        #print(hashtag)
        hashtags.append(' '.join(hashtag))
        
df['hashtags'] = pd.Series(hashtags)

In [317]:

## THIS WORKS
number = []
words = []
weightedNum = []
userNames = []
for i, v in enumerate(df.hashtags):
     try: 
        #print(i)
        #print(v)
        line = df.hashtags[i:i+1]
        
        df['polarity'] = 0

        vectorizer = CountVectorizer(stop_words=None)#min_df=4
        df['vector'] = vectorizer

        corpus = line.values
        x = vectorizer.fit_transform(corpus)
        x = x.toarray()[0]
        terms = vectorizer.get_feature_names()
        
        userWeight = df.final_score[i]
        userName = df.username[i]
        assert len(terms) == len(x)
        for j in range(len(terms)):
            words.append(terms[j])
            number.append(x[j])
            userNames.append(userName)
            weightedNum.append(x[j]*userWeight)
    
     except ValueError:
        print('No hashtags in this post' ,i)
        words.append('0')
        number.append(0)
        userNames.append(userName)
        weightedNum.append(0)
        
hashCounts = pd.DataFrame({'word': words, 'number': number, 'weightedNum': weightedNum, 'userName': userNames})
hashCounts

No hashtags in this post 2
No hashtags in this post 6
No hashtags in this post 12
No hashtags in this post 32
No hashtags in this post 38
No hashtags in this post 49
No hashtags in this post 50
No hashtags in this post 52
No hashtags in this post 64
No hashtags in this post 67
No hashtags in this post 70
No hashtags in this post 92
No hashtags in this post 93
No hashtags in this post 104
No hashtags in this post 107
No hashtags in this post 123
No hashtags in this post 125
No hashtags in this post 127
No hashtags in this post 141
No hashtags in this post 146
No hashtags in this post 157
No hashtags in this post 160
No hashtags in this post 163
No hashtags in this post 177
No hashtags in this post 185
No hashtags in this post 186
No hashtags in this post 197
No hashtags in this post 202
No hashtags in this post 204
No hashtags in this post 206
No hashtags in this post 214
No hashtags in this post 217
No hashtags in this post 222
No hashtags in this post 229
No hashtags in this post 231
No hashtags in this post 244

      number         userName  weightedNum                       word
0          1        16da.dany     0.000661       beautifuldestination
1          1        16da.dany     0.000661                  exploring
2          1        16da.dany     0.000661                    getlost
3          1        16da.dany     0.000661                      girls
4          1        16da.dany     0.000661                   ig_italy
5          1        16da.dany     0.000661                igercroazia
6          1        16da.dany     0.000661                igersitalia
7          1        16da.dany     0.000661                   igtravel
8          1        16da.dany     0.000661                instatravel
9          1        16da.dany     0.000661               lifeintravel
10         1        16da.dany     0.000661            lifeofexploring
11         1        16da.dany     0.000661                         me
12         1        16da.dany     0.000661               mytravelgram
13         1        16da.dany     0.000661            passionpassport
14         1        16da.dany     0.000661                      shoot
15         1        16da.dany     0.000661              travelblogger
16         1        16da.dany     0.000661          travelbloggerlife
17         1        16da.dany     0.000661                   travelgo
18         1        16da.dany     0.000661               travelingram
19         1        16da.dany     0.000661             travelinspired
20         1        16da.dany     0.000661  travellingthroughtheworld
21         1        16da.dany     0.000661             travelmemories
22         1        16da.dany     0.000661              travelstories
23         1        16da.dany     0.000661                travelstyle
24         1        16da.dany     0.000661                 wanderlust
25         1      _beadsmith_     0.000500       afashionistasdiaries
26         1      _beadsmith_     0.000500                  beadsmith
27         1      _beadsmith_     0.000500                   bohemian
28         1      _beadsmith_     0.000500                   bohochic
29         1      _beadsmith_     0.000500                 celebstyle
...      ...              ...          ...                        ...
4608       1  yosr.chebbi.art     0.018895                  abmathome
4609       1  yosr.chebbi.art     0.018895                abstractart
4610       1  yosr.chebbi.art     0.018895           abstractpainting
4611       1  yosr.chebbi.art     0.018895            artabovereality
4612       1  yosr.chebbi.art     0.018895                artadvisory
4613       1  yosr.chebbi.art     0.018895              artconsultant
4614       1  yosr.chebbi.art     0.018895                 artgallery
4615       1  yosr.chebbi.art     0.018895                 arthistory
4616       1  yosr.chebbi.art     0.018895                   artistic
4617       1  yosr.chebbi.art     0.018895                artoftheday
4618       1  yosr.chebbi.art     0.018895                      artsy
4619       1  yosr.chebbi.art     0.018895                  artwriter
4620       1  yosr.chebbi.art     0.018895            bergdorfgoodman
4621       1  yosr.chebbi.art     0.018895              christiandior
4622       1  yosr.chebbi.art     0.018895            creativeprocess
4623       1  yosr.chebbi.art     0.018895                    curator
4624       1  yosr.chebbi.art     0.018895                  elledecor
4625       1  yosr.chebbi.art     0.018895               hautecouture
4626       1  yosr.chebbi.art     0.018895               homemakeover
4627       1  yosr.chebbi.art     0.018895               interior4all
4628       1  yosr.chebbi.art     0.018895          interiordesigners
4629       1  yosr.chebbi.art     0.018895             interiortrends
4630       1  yosr.chebbi.art     0.018895           lifestyleblogger
4631       1  yosr.chebbi.art     0.018895                  londonart
4632       1  yosr.chebbi.art     0.018895                  modernart
4633       1  yosr.chebbi.art     0.018895            nationalgallery
4634       1  yosr.chebbi.art     0.018895                originalart
4635       1  yosr.chebbi.art     0.018895                renovations
4636       1  yosr.chebbi.art     0.018895               studioscenes
4637       1  yosr.chebbi.art     0.018895                vogueliving

[4638 rows x 4 columns]

In [318]:
hashCounts.groupby(['word']).sum().sort_values(by='weightedNum', ascending=False)

                        number  weightedNum
word
wanderlust                  77     1.927801
fashion                     46     1.483806
hautecouture                62     1.375343
bohochic                    64     1.184310
travel                      37     1.109072
nature                      23     0.845085
vanlife                      2     0.816316
love                        30     0.808679
style                       26     0.720875
bohostyle                   33     0.712863
lifeofadventure              3     0.692292
instagram                    7     0.656350
boho                        19     0.644253
fashionista                 16     0.624547
instafashion                16     0.601004
wander                       3     0.594820
instagood                   23     0.587664
roadtrip                     2     0.582811
wanderfolk                   2     0.578262
livefolk                     2     0.576907
goodvibesonly                2     0.571546
ladyshredders                1     0.571429
vanlifers                    1     0.571429
nostress                     1     0.571429
vanlifemovement              1     0.571429
vanlifediaries               1     0.571429
homeiswhereyouparkit         1     0.571429
campinglife                  1     0.571429
roadtrippin                  1     0.571429
vanconversion                1     0.571429
...                        ...          ...
metrotravel                  1     0.000000
lieblingsberg                1     0.000000
lezexplore                   1     0.000000
vacations                    1     0.000000
umopaese                     1     0.000000
iphoneography                1     0.000000
jambuandco                   1     0.000000
jambufootwear                1     0.000000
jantaminiau                  1     0.000000
jantaminiaureflections       1     0.000000
jaw_dropping_shots           1     0.000000
josephine                    1     0.000000
joyasdeautor                 1     0.000000
kaiserburg                   1     0.000000
uniquedistrict               1     0.000000
kamp                         1     0.000000
kathakali                    1     0.000000
letsseetheworld              1     0.000000
kayseri                      1     0.000000
kendalljenner                1     0.000000
keralaattraction             1     0.000000
keraladiaries                1     0.000000
keralam                      1     0.000000
kidu                         1     0.000000
kindacandid                  1     0.000000
tyrol                        1     0.000000
kiss                         1     0.000000
kisses                       1     0.000000
kärnten                      1     0.000000
0                            0     0.000000

[2692 rows x 2 columns]

# words said by the community

In [270]:


## THIS WORKS
number = []
words = []
weightedNum = []
userNames = []
for i, v in enumerate(df.caption):
     try: 
        #print(i)
        #print(v)
        line = df.caption[i:i+1]
        
        df['polarity'] = 0

        vectorizer = CountVectorizer(stop_words=list(stop_words.ENGLISH_STOP_WORDS))#min_df=4
        df['vector'] = vectorizer

        corpus = line.values
        x = vectorizer.fit_transform(corpus)
        x = x.toarray()[0]
        terms = vectorizer.get_feature_names()
        
        userWeight = df.final_score[i]
        userName = df.username[i]
        assert len(terms) == len(x)
        for j in range(len(terms)):
            words.append(terms[j])
            number.append(x[j])
            userNames.append(userName)
            weightedNum.append(x[j]*userWeight)
    
     except ValueError:
        print('nan present in the DF at point' ,i)
        words.append('0')
        number.append(0)
        userNames.append(userName)
        weightedNum.append(0)
        
wordCounts = pd.DataFrame({'word': words, 'number': number, 'weightedNum': weightedNum, 'userName': userNames})
wordCounts

nan present in the DF at point 123
nan present in the DF at point 141
nan present in the DF at point 244

      number         userName  weightedNum                       word
0          1        16da.dany     0.000661       beautifuldestination
1          1        16da.dany     0.000661                  exploring
2          1        16da.dany     0.000661                    getlost
3          1        16da.dany     0.000661                      girls
4          1        16da.dany     0.000661                   ig_italy
5          1        16da.dany     0.000661                igercroazia
6          1        16da.dany     0.000661                igersitalia
7          1        16da.dany     0.000661                   igtravel
8          1        16da.dany     0.000661                instatravel
9          1        16da.dany     0.000661               lifeintravel
10         1        16da.dany     0.000661            lifeofexploring
11         1        16da.dany     0.000661               mytravelgram
12         1        16da.dany     0.000661            passionpassport
13         1        16da.dany     0.000661                      shoot
14         1        16da.dany     0.000661              travelblogger
15         1        16da.dany     0.000661          travelbloggerlife
16         1        16da.dany     0.000661                   travelgo
17         1        16da.dany     0.000661               travelingram
18         1        16da.dany     0.000661             travelinspired
19         1        16da.dany     0.000661  travellingthroughtheworld
20         1        16da.dany     0.000661             travelmemories
21         1        16da.dany     0.000661              travelstories
22         1        16da.dany     0.000661                travelstyle
23         1        16da.dany     0.000661                 wanderlust
24         1      _beadsmith_     0.000500       afashionistasdiaries
25         1      _beadsmith_     0.000500                  beadsmith
26         1      _beadsmith_     0.000500                   bohemian
27         1      _beadsmith_     0.000500                   bohochic
28         1      _beadsmith_     0.000500                 celebstyle
29         1      _beadsmith_     0.000500                      chain
...      ...              ...          ...                        ...
7033       1  yosr.chebbi.art     0.018895                  abmathome
7034       1  yosr.chebbi.art     0.018895                abstractart
7035       1  yosr.chebbi.art     0.018895           abstractpainting
7036       1  yosr.chebbi.art     0.018895            artabovereality
7037       1  yosr.chebbi.art     0.018895                artadvisory
7038       1  yosr.chebbi.art     0.018895              artconsultant
7039       1  yosr.chebbi.art     0.018895                 artgallery
7040       1  yosr.chebbi.art     0.018895                 arthistory
7041       1  yosr.chebbi.art     0.018895                   artistic
7042       1  yosr.chebbi.art     0.018895                artoftheday
7043       1  yosr.chebbi.art     0.018895                      artsy
7044       1  yosr.chebbi.art     0.018895                  artwriter
7045       1  yosr.chebbi.art     0.018895            bergdorfgoodman
7046       1  yosr.chebbi.art     0.018895              christiandior
7047       1  yosr.chebbi.art     0.018895            creativeprocess
7048       1  yosr.chebbi.art     0.018895                    curator
7049       1  yosr.chebbi.art     0.018895                  elledecor
7050       1  yosr.chebbi.art     0.018895               hautecouture
7051       1  yosr.chebbi.art     0.018895               homemakeover
7052       1  yosr.chebbi.art     0.018895               interior4all
7053       1  yosr.chebbi.art     0.018895          interiordesigners
7054       1  yosr.chebbi.art     0.018895             interiortrends
7055       1  yosr.chebbi.art     0.018895           lifestyleblogger
7056       1  yosr.chebbi.art     0.018895                  londonart
7057       1  yosr.chebbi.art     0.018895                  modernart
7058       1  yosr.chebbi.art     0.018895            nationalgallery
7059       1  yosr.chebbi.art     0.018895                originalart
7060       1  yosr.chebbi.art     0.018895                renovations
7061       1  yosr.chebbi.art     0.018895               studioscenes
7062       1  yosr.chebbi.art     0.018895                vogueliving

[7063 rows x 4 columns]

In [241]:
wordCounts.groupby(['word']).sum().sort_values(by='weightedNum', ascending=False)

                   number  weightedNum
word
pray                    4     3.406894
god                     3     3.406859
change                  4     2.287912
look                   12     2.181049
wanderlust             77     1.927801
fashion                51     1.580361
love                   41     1.490714
hautecouture           62     1.375343
perfect                 7     1.282865
people                  7     1.191223
better                  3     1.190666
bohochic               64     1.184310
true                    2     1.135655
gods                    1     1.135620
hear                    1     1.135620
bless                   1     1.135620
approval                1     1.135620
everyday                1     1.135620
impress                 1     1.135620
trying                  1     1.135620
disagree                1     1.135620
yeah                    2     1.113872
travel                 38     1.109072
nature                 26     0.900358
vanlife                 2     0.816316
like                   14     0.811164
style                  27     0.720875
bohostyle              33     0.712863
lifeofadventure         3     0.692292
instagram               7     0.656350
...                   ...          ...
marycarmen              1     0.000000
mondaymotivation        1     0.000000
martel                  1     0.000000
maritimes               1     0.000000
managed                 1     0.000000
mallugram               1     0.000000
malayali                1     0.000000
malayalammovie          1     0.000000
malayalam               1     0.000000
mividaenvalencia        1     0.000000
mucha                   1     0.000000
neuen                   1     0.000000
naturelove              1     0.000000
visitromania            1     0.000000
visittyrol              1     0.000000
nepal                   1     0.000000
visuals                 1     0.000000
negar                   1     0.000000
navy                    2     0.000000
naturewalk              1     0.000000
naturegram              1     0.000000
mucho                   1     0.000000
nature_perfection       1     0.000000
nature_lovers           1     0.000000
nadanbao                1     0.000000
más                     1     0.000000
mypeakdistrict          1     0.000000
mv_notelopongas         1     0.000000
museum                  1     0.000000
0                       0     0.000000

[4252 rows x 2 columns]

In [219]:
 (Words)[1]

['afashionistasdiaries',
 'beadsmith',
 'bohemian',
 'bohochic',
 'celebstyle',
 'chain',
 'ethicalfashion',
 'exclusive',
 'fashionblogger',
 'funky',
 'handcrafted',
 'handcraftedjewelry',
 'handmade',
 'ig_india',
 'inbox',
 'india',
 'indianfashion',
 'indianfashionblogger',
 'indianjewelry',
 'indianstreetfashion',
 'indianwedding',
 'instagram',
 'instajewelry',
 'jewelerylover',
 'jewelry',
 'jotd',
 'locket',
 'long',
 'makehappy',
 'ootd',
 'orders',
 'pendant',
 'saree',
 'tibetian',
 'tibetianpendant']

In [202]:


DF_of_caption_frequencies = (pd.DataFrame({'word': Words, 'number': (Number), 'user' : list(df.username), 'followers' : pd.to_numeric(list(df.followers))}))

In [223]:
DF_of_caption_frequencies.iloc[0]

followers                                                 3027
number       [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
user                                                 16da.dany
word         [beautifuldestination, exploring, getlost, gir...
Name: 0, dtype: object

In [211]:
(DF_of_caption_frequencies['number'])#.apply(lambda x: x * ((df.final_score[2])))

0      [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
1      [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
2                                      [[1, 1, 1, 1, 1]]
3      [[1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1,...
4      [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
5      [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
6                                         [[1, 1, 1, 1]]
7                       [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]
8      [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
9      [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
10     [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
11                   [[2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1]]
12       [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]
13     [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1,...
14     [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
15     [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
16       [[2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]
17     [[1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 1, 1, 1, 1, 1,...
18     [[1, 1, 1, 1, 1, 4, 1, 1, 2, 1, 1, 1, 1, 1, 1,...
19     [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
20     [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
21     [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
22     [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
23     [[1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2,...
24     [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
25     [[1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1,...
26     [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
27     [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
28     [[1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
29     [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
                             ...
218    [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
219    [[1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
220    [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
221    [[1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
222                           [[1, 1, 1, 1, 1, 1, 2, 1]]
223    [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
224    [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1,...
225               [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]
226                                    [[1, 1, 1, 1, 1]]
227    [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
228                                       [[1, 1, 1, 1]]
229                                             [[1, 1]]
230    [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
231               [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]]
232    [[1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1,...
233                              [[1, 1, 1, 1, 1, 1, 1]]
234    [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
235    [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
236    [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
237    [[1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2,...
238    [[1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
239    [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
240    [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
241    [[1, 3, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1,...
242    [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,...
243    [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
244                                                    0
245                                 [[1, 1, 1, 1, 1, 1]]
246    [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
247    [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
Name: number, Length: 248, dtype: object

In [207]:
#len(np.array(df.followers))
DF_of_caption_frequencies['number'].apply(lambda x: x*df.followers)

ValueError: operands could not be broadcast together with shapes (248,) (1,24)

In [124]:
# (pd.DataFrame({'word': terms, 'number': x.sum(axis=0)})).sort_values('number', ascending=False).reset_index()
#(pd.DataFrame({'word': terms, 'number': Number, 'user' : list(df.username)}))

(pd.DataFrame({'word': Words, 'number': Number, 'user' : list(df.username[0:3])}))

,number,user,word
0,"[[1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1,...",_fundadundar,"[art, beautiful, beauty, black, blackonblack, ..."
1,"[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]",alegag_,"[awesome, italy, lake, nature, naturelovers, n..."
2,"[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]",cullenmchale,"[4am, barely, camping, catch, milky, moab, moo..."

In [68]:
### caption count


df['polarity'] = np.zeros(len(df.caption))

vectorizer = CountVectorizer(stop_words=list(stop_words.ENGLISH_STOP_WORDS))#min_df=4
df['vector'] = vectorizer
corpus = df['caption'].values
x = vectorizer.fit_transform(corpus)
x = x.toarray()
y = df['polarity'].values

In [69]:
terms = vectorizer.get_feature_names()

In [70]:
(pd.DataFrame({'word': terms, 'number': x.sum(axis=0)})).sort_values('number', ascending=False).reset_index()

     index  number                                               word
0      128       8                                       hautecouture
1       91       7                                            fashion
2      165       4                                               love
3       62       4                                            couture
4      142       4                                          instagood
5       26       3                                          beautiful
6      200       3                                             outfit
7       27       3                                             beauty
8       80       2                                              dress
9      284       2                                         wanderlust
10     124       2                                              happy
11     216       2                                        photography
12     116       2                                            glamour
13      63       2                                           creation
14     132       2                                               high
15     276       2                                                une
16     244       2                                               self
17      71       2                                           designer
18      70       2                                             design
19      42       2                                             bridal
20     218       2                                         photoshoot
21     101       2                                             follow
22     198       2                                              order
23     229       2                                            quality
24     303       2                                                çok
25       3       2  ______________________________________________...
26     161       2                                               look
27     160       2                                                 ll
28     166       2                                             luxury
29     297       2                                           whatsapp
..     ...     ...                                                ...
275     98       1                                              feliz
276     97       1                                        feelamazing
277     96       1                                               feel
278     95       1                                           favorite
279     93       1                                        fashionshow
280    120       1                                              grill
281     92       1                                        fashionmode
282     90       1                                        familycabin
283     89       1                                            famille
284     88       1                                           fabulous
285     87       1                                        eveninggown
286     86       1                                       eveningdress
287    102       1                                           foodporn
288    103       1                                               foot
289    104       1                                            forward
290    105       1                                               foto
291    106       1                                    fox2000pictures
292    107       1                                             france
293    108       1                                    frenchtullelace
294    109       1                                                gay
295    110       1                                           gayparis
296    111       1                                        gaytoulouse
297    112       1                                              gelin
298    113       1                                           gelinlik
299    114       1                                         get_repost
300    115       1                                               girl
301    117       1                                       glampinglife
302    118       1                                               good
303    119       1                                       greenretreat
304    304       1                                             équipe

[305 rows x 3 columns]

In [16]:
df1991 = pd.DataFrame({'caption': f2post, 'username': userlist, 'emojis': emojis})

In [17]:
df1991['polarity'] = np.zeros(len(df1991.caption))

vectorizer = CountVectorizer(stop_words=list(stop_words.ENGLISH_STOP_WORDS))#min_df=4
df1991['vector'] = vectorizer
corpus = df1991['caption'].values
x = vectorizer.fit_transform(corpus)
x = x.toarray()
y = df1991['polarity'].values

## it outputs words
## each line, token column
DF = pd.concat([pd.DataFrame(x), df1991.username], axis=1)

In [37]:

x.sum(axis=0)

array([12, 24, 24, ...,  1,  1, 72], dtype=int64)

In [38]:
x.sum(axis=0).shape

(2264,)

In [31]:
terms = vectorizer.get_feature_names()

In [33]:
len(terms)

2264

In [43]:
(pd.DataFrame({'word': terms, 'number': x.sum(axis=0)})).sort_values('number', ascending=False).reset_index()

      index  number                  word
0        97    2226           88thatelier
1      1834    1612                  size
2      1280    1397                   myr
3       718    1159          fashiondaily
4      1924    1159         stayandwander
5      1115    1159              livefolk
6      1953    1159            streetwear
7      1535    1159         peopleinframe
8      1517    1159       passionpassport
9      2127    1101       urbanoutfitters
10     1131    1101              lookbook
11     2027    1099            teamrayakl
12     2202    1099            whattowear
13     1124    1099               lokalah
14     1544    1099         photooftheday
15     1543    1099    photographyislifee
16     2077    1099       traditionalwear
17      934    1099        igshopmalaysia
18     2167    1099            wanderlust
19      791    1099                ftwotw
20     1488    1099        outfitoftheday
21     1038    1099           kualalumpur
22       82    1090                  6018
23     2157    1090                    wa
24      666    1090             enquiries
25     1394    1090                norder
26      957    1087     instashopmalaysia
27       99    1087        88thatelierrtw
28      653    1079                 email
29      494    1079                  comn
...     ...     ...                   ...
2234   1226       1               micheal
2235    373       1                  busy
2236    374       1                butter
2237   1220       1              mercosul
2238   1219       1            merciparis
2239    377       1   buyswopsellnstylist
2240    378       1  byronmobileboardhire
2241   1216       1              memories
2242   1215       1           melcarrero_
2243   1242       1         misteriesshow
2244   1246       1                  mode
2245   1277       1             musknnnew
2246    367       1                   btw
2247   1276       1                 muskn
2248   1274       1                  muse
2249   1273       1                murray
2250    360       1    brisbanepowerhouse
2251    361       1            broadsheet
2252    363       1               brought
2253   1267       1        mr_jamie_green
2254   1259       1          moodoftheday
2255    372       1                 busca
2256   1256       1                 monte
2257   1255       1              monstera
2258    368       1                buenos
2259   1253       1                monica
2260   1252       1               mondays
2261    371       1     bunnywilliamshome
2262   1248       1                modern
2263   1132       1                looked

[2264 rows x 3 columns]